// 默认值
$accentColor = #9E1E24        //主题颜色
$textColor = #242f28
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
